body {
  background-color: #0C0E13;
  color: white;
  font-family: Noto Sans;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #0C0E13;
  margin-top: 1rem;
}

nav {
  background-color: #FF2273;
  color: white;
  width: 100%;
}

.nav-link {
  color: #08090E;
  font-style: bolder;
  font-weight: 800;
  padding-left: 23px !important;
  padding-right: 23px !important;
  padding-top: 20px !important;
}

.active {
  color: white !important;
}

.mainview {
  width: 100%;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;

  width: 100%;
}

.jumbotron {
  color: #FF2273;
}

.title {
  font-style: bolder;
  font-weight: 900;
  font-size: 6em;
  line-height: 0.8em;
}

.subtitle {
  padding-top: 15px;
  color: white;
  font-style: bolder;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 0.8em;
}


.heading2 {
  font-style: bolder;
  font-weight: 900;
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.spacing {
  padding-bottom: 20px;
}

.heading3 {
  font-style: bolder;
  font-weight: 800;
  font-size: 1.6em;
  line-height: 1em;
  text-transform: uppercase;
}

.pink {
  color: #FF2273
}

.logo_gamepad {
  padding-left: 5px;
  width: 72px;
  height: 72px;
}

.segment {
  padding-top: 40px;
  padding-bottom: 40px;
  float: center;
}

.odd {
  background-color: #08090E;
}

.nav-link:hover {
  color: white;
  background-color: #33333350;
}

.normal_text {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1em;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
}

.text-body-secondary {
  color: gray !important;
}

.event-chip {
  background-color: #FF2273;
  color: black;
  font-size: 1.2em;
  font-style: bold;
  height: 36px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.sect-content {
  width: 500px;
}

.white {
  background-color: white;
}

.game_pic {
  max-width: 500px;
  min-width: 500px;
}

@media (min-width: 370px) and (max-width: 1000px) {

  .title {
    font-size: 4.2em;
  }

  .nav-link {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .game_pic {
    max-width: 360px;
    min-width: 360px;
  }

  .sect-content {
    width: 360px;
  }

  .logo_gamepad {
    padding-left: 5px;
    width: 58px;
    height: 58px;
  }

}