{{ $data := index site.Data }}

{{ if $data.events.enable }}
{{ with $data.events }}
{{"<!-- Start About Section -->" | safeHTML}}
<div class="sect-content">
    <h2 class=" heading2">upcomming <span class="pink">event</span></h2>
    <span class="badge event-chip event-chip-text"> {{ .date }}</span>
    <a target="_blank" rel="noopener noreferrer" href="{{ .placelink }}">
        <span class="badge event-chip event-chip-text"> ab 18:00 | {{ .place }}</span>
    </a>
    <br>
    <span class="badge event-chip event-chip-text"><img src="/images/megaphone.svg"> {{ .speaker }}</span>
    <div class="spacing"></div>
    <p class="heading3"><span class="pink">”</span>{{ .plot }}<span class="pink">”</span></p>
    <p class="normal_text">{{ .text | markdownify }}</p>
</div>
{{ end }}
{{ end }}