<script src="/js/powerglitch.min.js"></script>
<script src="/js/jquery.min.js"></script>

<script>
    var hash = window.location.hash.substring(1);
    if (hash != "") {
        console.log("#nav-" + hash);
        $("#nav-" + hash).addClass("active");
    }
    console.log(hash);
    // Glitch elements with class 'some-element'
    PowerGlitch.glitch('.autoglitch',
        {
            "timing": {
                "duration": 3050
            }
        });

    PowerGlitch.glitch('.hoverglitch', {
        playMode: "hover",
        "shake": {
            "amplitudeX": 0.15,
            "amplitudeY": 0.15
        },
        "slice": {
            "maxHeight": 0.08
        }
    })

    $(document).ready(function () {
        $(".nav-link").click(
            function (e) {
                $(".nav-link").removeClass(
                    "active");
                $(this).addClass("active");
            });
    });
</script>