{{ define "main" }}


<div id="home" class="mainview">
    <div class="h-100 d-flex justify-content-center section odd">
        <div id="home-jumbotron" class="jumbotron">
            <h1 class="title">GAMEDEV</h1>
            <div class="d-flex">
                <h1 class="title">MEETUP</h1>
                <img class="logo_gamepad autoglitch" src="images/gamepad.svg">
            </div>
            <h1 class="title">DRESDEN</h1>
            <h1 class="subtitle">Meet people / make games</h1>
        </div>
    </div>
    <div id="about" class="h-100 d-flex justify-content-center section">
        {{ partial "about.html" . }}
    </div>
    <div id="events" class="h-100 d-flex justify-content-center section odd">
        {{ partial "events.html" . }}
    </div>
    <div id="join" class="h-100 d-flex justify-content-center section">
        {{ partial "join.html" . }}
    </div>
</div>

{{ end }}